<!-- Modal to trigger the automation -->

<div class="modal fade" id="triggerAutomationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Executar Automação</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="modal-body d-flex flex-column gap-3">
          <div>
            <label for="monthSelect">Mês para execução</label>
            <select id="monthSelect" name="month" class="form-select">
              <option value="1">Janeiro</option>
              <option value="2">Fevereiro</option>
              <option value="3">Março</option>
              <option value="4">Abril</option>
              <option value="5">Maio</option>
              <option value="6">Junho</option>
              <option value="7">Julho</option>
              <option value="8">Agosto</option>
              <option value="9">Setembro</option>
              <option value="10">Outubro</option>
              <option value="11">Novembro</option>
              <option value="12">Dezembro</option>
            </select>
          </div>

          <div>
            <label>Selecione o JSON</label>
            <div class="input-group">
              {{ form.file }}
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex align-items-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Executar</button>
        </div>
      </form>
    </div>
  </div>
</div>
